.nav li{
	display: inline;
	margin-right: 4px;
}

.nav img{
	float:right;
}
.nav{
	background: #333;
	color: white;
	width: 100%;
	padding: 30px;
	padding-bottom: 14px;
	margin: -30px;
	margin-bottom: 5px;
	-webkit-box-shadow:  0px 5px 10px 2px #ccc;
        	box-shadow:  0px 5px 10px 2px #ccc;
}
.nav a{
	font-family: helvetica;
	margin-right: 3px;
	font-size: 16pt;
	color: white;
	text-decoration: none;
	border-right-style: solid;
	border-width: 1px;
	border-color: white;
	padding-right: 3px;
}

.nav #logout{
	border-width: 0px;
	border-style: none;
}

.nav a:hover{
	color: #ddd;
}

body{
	padding: 20px;
	font-family: Helvetica;
	background: #eee;
}

body a{
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

body a:hover{
	color: #aaa;
}

footer{
	
}

div.homeSchedule{
	border-style: solid;
	border-radius: 7px;
	border-width: 2px;
	border-color: #472783;
	background-color: #beb0d9;
	color: #472783;

	height: 400px;
	width: 25%;
	float:left;
	margin-right:10%;
	padding: 5px;
	text-align:middle;
}

div.homeLinks{
	border-style: solid;
	border-radius: 7px;
	border-width: 2px;
	border-color: #fcc233;
	background-color: #fce5ac;
	color: #472783;

	height: 400px;
	width: 25%;
	float:left;
	margin-right:10%;
	padding: 5px;	
	text-align:middle;	
}

div.purpleBox{
	display: block;

	border-style: solid;
	border-radius: 7px;
	border-width: 2px;
	border-color: #472783;
	background-color: #beb0d9;
	color: #472783;

	height: 400px;
	width: 25%;
	float:left;
	margin-right:10%;
	padding: 5px;
	text-align:middle;
}

div.goldBox{
	display: block;

	border-style: solid;
	border-radius: 7px;
	border-width: 2px;
	border-color: #fcc233;
	background-color: #fce5ac;
	color: #472783;

	height: 400px;
	width: 25%;
	float:left;
	margin-right:10%;
	padding: 5px;	
	text-align:middle;		
}

form.inputForm label{
	float: left;
}

form.inputForm input, select{
	float: right;
	height: 12pt;
}

div.footer{
	padding-top: 20px;
	clear: both;
}