Username: szurinsky, didn't meet their minimum hours of 10Currently at: 0Username: rrausch, didn't meet their minimum hours of 7Currently at: 0Username: nkim, didn't meet their minimum hours of 12Currently at: 0Username: mkirch, didn't meet their minimum hours of 11Currently at: 0Username: cchen, didn't meet their minimum hours of 12Currently at: 0Username: fhensley, didn't meet their minimum hours of 8Currently at: 0Username: rshady, didn't meet their minimum hours of 8Currently at: 0