Username: edward, didn't meet their minimum hours of 7Currently at: 5Username: thomas, didn't meet their minimum hours of 11Currently at: 5Username: mann, didn't meet their minimum hours of 7Currently at: 6Username: george, didn't meet their minimum hours of 9Currently at: 7Username: patneal, didn't meet their minimum hours of 8Currently at: 4Username: arcu, didn't meet their minimum hours of 5Currently at: 4Username: moyer, didn't meet their minimum hours of 7Currently at: 6