Username: jcrabtree, didn't meet their minimum hours of 9Currently at: 6Username: xzhang, didn't meet their minimum hours of 11Currently at: 0Username: cgosset, didn't meet their minimum hours of 8Currently at: 6Username: yhuang, didn't meet their minimum hours of 9Currently at: 6Username: palexander, didn't meet their minimum hours of 7Currently at: 0Username: dnickels, didn't meet their minimum hours of 8Currently at: 3