.block{
	border-color: #222;
	border-radius: 10px;
	background-color: #888;
	color: black;
}

.header{
	color: white;
	background-color: black;
	font-size: 16pt;
	/*position: fixed;*/
	width: 100%;
}
.navbar{
	margin-bottom: 20px;
	clear: both;
}

.header a{
	color: white;
}

.header a:hover{
	color: #999999;
	text-decoration: none;
}

.header li{
	display: inline;
}

ul #home{
	font-weight: bold;
	color: white;
}

body{
	background-color: #C0C0C0;
	width: 100%;
}

/*body .container{
	height: 100%;
	width: 100%;
	background-color: #C0C0C0;
	color: black;
}*/

.schedule{
	border-color: black;
	border-radius: 10px;
	border-width: 1px;
	/*border-style: solid;*/
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.schedule table{
	display: table-cell;
	border-color: black;
	-webkit-border-radius: 10px;
			border-radius: 10px;

	box-shadow: 0.5 0.5 0.5 0.5 darkgray;
	border-width: 3px;
	border-style: solid;
	width: 100%;
	height: 800px;
	border-collapse: collapse;
	border-spacing: 0px;
}

.schedule td{
	vertical-align: middle;
	text-align: middle;
	padding: auto;
	border-color: #888;
	border-width: 1px;
	border-style: solid;
}

#header{
	border-style: none;
	text-align: middle;
}

th:last-child{
	-moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 6px;
}

th:only-child{
	-moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 6px;
}

th:first-child{
	-moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 6px;
}

.fresh{
	background: PaleGreen;
	border-color: green;
	border-width: 4px;
	border-style: solid;
}

.soph{
	background: PowderBlue;
	border-color: blue;
	border-width: 4px;
	border-style: solid;	
}

.jun{
	background: LightGoldenRodYellow;
	border-color: yellow;
	border-width: 4px;
	border-style: solid;
}

.sen{
	background: LightSalmon;
	border-color: red;
	border-width: 4px;
	border-style: solid;
}